.filterLabel {
  display: flex;
  flex-direction: column;
  color: #673ab7;
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
  margin-left: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.filterInput {
  width: 50vw;
  padding: 10px;
}
