.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: center;
  margin-bottom: 20px;
}

.labelName {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #333;
}

.loginBtn {
  text-align: center;
  margin-top: 20px;
}
